# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

#idea
.idea/

#node modules
node_modules/

# env files
*.env

# apple
.DS_Store

# front-end bundle
src/public/bundle.css
src/public/bundle.js

/coverage

cypress/downloads/
*.db
