# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

#idea
.idea/

#node modules
node_modules/

# env files
*.env

# apple
.DS_Store

# front-end bundle
src/public/bundle.css
src/public/bundle.js

/coverage

cypress/downloads/
*.db

/res/1-experiment-s-0
/res/2-experiment-0-a
/res/3-experiment-s-a
/res/misc-res
