:root {
    --main-bg-color: #f3f3f3;
    --header-height: 90px;
}

@font-face {
    font-family: 'Amstelvar';
    src: url('./assets/Amstelvar-Roman[wdth,wght,opsz].ttf') format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 50% 125%;
    --in-canvas: true;
}

@font-face {
    font-family: 'Anybody';
    src: url('./assets/Anybody[slnt,wdth,wght].ttf') format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 10% 400%;
    --in-canvas: true;
}

@font-face {
    font-family: 'Barlow';
    src: url('./assets/BarlowGX.ttf') format('truetype-variations');
    font-weight: 22 188;
    font-stretch: 300% 500%;
    --in-canvas: true;
}

@font-face {
    font-family: 'Cabin';
    src: url('./assets/Cabin[wdth,wght].ttf') format('truetype-variations');
    font-weight: 95 128;
    font-stretch: 0% 100%;
    --in-canvas: true;
}

@font-face {
    font-family: 'Emberly';
    src: url('./assets/Emberly[wdth,wght].ttf') format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    --in-canvas: true;
}

@font-face {
    font-family: 'Epilogue';
    src: url('./assets/Epilogue[wght].ttf') format('truetype-variations');
    font-weight: 100 900;
    --in-canvas: true;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('./assets/IBMPlexSansVar-Roman.ttf') format('truetype-variations');
    font-weight: 100 700;
    font-stretch: 85% 100%;
    --in-canvas: true;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('./assets/Inconsolata[wdth,wght].ttf') format('truetype-variations');
    font-weight: 275 900;
    font-stretch: 50% 200%;
    --in-canvas: true;
}


html, main {
    background-color: var(--main-bg-color);
}

body {
    background-color: var(--main-bg-color);
    display:flex;
    flex-flow: column;
}

body > * {
    order: 1;
}



#error-handle {
    order: 0;
}

#error-handle-inner {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    z-index: 1000;
}

.mr-2 {
    margin-right: .5rem!important;
}

h3 {
    font-size: 1rem !important;
    font-weight: 900;
}

h4 {
    font-size: 1rem;
}

#info-results-section div {
    margin-bottom: 1.35em;
}

.p5Canvas {}

.initial-Form-outer {
    background: rgba(0,0,0, 0.5);
    top:var(--header-height);
    right:0;
    position: fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

.initial-Form-inner {
    height: calc(100vh - var(--header-height));
    overflow-y:scroll;
    overflow-x:hidden;
}

#info-init {
    background: var(--main-bg-color);
    min-height: 100%;
    overflow-y:scroll;
    overflow-x:hidden;
}

init-form {
    min-height: 100vh;
    overflow-y:scroll;
    overflow-x:hidden;
}



#header-container {
    background: var(--main-bg-color);
    height: var(--header-height);
}
