:root {
    --main-bg-color: #f3f3f3;
}


html, main {
    background-color: var(--main-bg-color);
}

body {
    background-color: var(--main-bg-color);
    display:flex;
    flex-flow: column;
}

body > * {
    order: 1;
}

#error-handle {
    order: 0;
}

#error-handle-inner {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.mr-2 {
    margin-right: .5rem!important;
}

h3 {
    font-size: 1rem !important;
    font-weight: 900;
}

h4 {
    font-size: 1rem;
}

#info-results-section div {
    margin-bottom: 1.35em;
}

.p5Canvas {}

.initial-Form-outer {
    background: rgba(0,0,0, 0.5);
    top:0;
    right:0;
    position: fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

.initial-Form-inner {
    height: 100vh;
    overflow-y:scroll;
    overflow-x:hidden;
}

#info-init {
    background: var(--main-bg-color);
    min-height: 100%;
    overflow-y:scroll;
    overflow-x:hidden;
}

init-form {
    min-height: 100vh;
    overflow-y:scroll;
    overflow-x:hidden;
    z-index:10;
}
